// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header{
   background-image: url('../images/developer.png'),url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* nav style */
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 50px 200px;
}
.nav-title{
font-weight: 800;
font-size: 45px;
}
/* shared style */
.text-primari{
   color: #FD6E0A;
}
nav ul li {
   list-style: none;
}
nav li a {
   text-decoration: none;
   font-size: 20px;

}
.dark{
   color: #474747;
   margin-right: 50px;
}
nav ul {
   display: flex;
   align-items: center;
}
.bbb{
   background-color: #FD6E0A;
   font-weight: bold;
   font-size: 20px;
   color: white;
   padding: 18px 35px;
   border: 5px;
   border: none;
}
/* banner style */
.banner-greeting{
   font-size: 45px;
   font-weight: 600;
}
.banner-title{
   font-weight: bold;
   font-size: 85px;
}
.banner-profile-pic{
   width: 580;
}
.banner{
  display: flex; 
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-contend{
   max-width: 580px;
}